# Visual Studio & C++ ignores
.vs/
x64/
x86/
Debug/
Release/
*.user
*.aps
*.pch
*.vsix
*.opendb
*.db
*.ipch
*.log
*.tlog
*.obj
*.exe
*.pdb
*.idb
*.iobj
*.ipdb
*.dt.json
*.dt.module.json

# Visual Studio project & solution files
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.slnx
